node_modules
**/node_modules

apps/web/build
apps/web/dist
apps/mobile/.expo
coverage
**/.nyc_output

.git
.gitignore
.cursor
.vscode
.idea

**/.env
**/.env.*
!apps/web/.env.sample
!apps/mobile/.env.sample

**/*.md
