REACT_APP_BASE_URL=http://127.0.0.1:8005/api/
REACT_APP_CRAWLER_URL=http://127.0.0.1:8005/api
REACT_APP_SOCKET_URL=127.0.0.1:8005/ws


REACT_APP_GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxx

# Cloudinary
REACT_APP_CLOUD_NAME=xxxxxxxxx
REACT_APP_UPLOAD_PRESET=xxxxxxxxx
