SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
BASE_FRONTEND_URL=https://flashlearn.ngovandong.dev
BASE_BACKEND_URL=https://flashlearnapi.ngovandong.dev
GOOGLE_OAUTH2_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_OAUTH2_CLIENT_SECRET=xxxxxxxxxxxxxxxxxx
# mail
EMAIL_HOST_PASSWORD=xxxxxxxxxx
ABSTRACT_API_KEY=xxxxxxxxxxxxx
#cloudinary
CLOUDINARY_CLOUD_NAME=xxxxxxxxxx
CLOUDINARY_API_KEY=xxxxxxx
CLOUDINARY_API_SECRET=xxxxxxxxxx
# mysql
DB_NAME=flashlearn
DB_USER=root
DB_PASSWORD=xxxxxxxx
DB_HOST=1.1.1.1
DB_PORT=3306