@media (max-width: 725px) {
    .deck-page {

        .deck-menu {
            flex-wrap: wrap;
            row-gap: 1rem;

            .menu-btn {
                width: 45%;
            }
        }
    }
}


@media (max-width: 850px) {

    .home-page {
        section {
            .section-cards {
                .set-card {
                    width: 49%;
                }
            }
        }
    }



}

// Login and sign up -- below 330px
@media (max-width: 330px) {}