@media (max-width: 725px) {}

@media (max-width: 1050px) {
    .create-deck {
        .create-deck__info {
            .info-visible-card {
                flex-direction: column;

                .visible-select {
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 850px) {

    .home-page {
        section {
            .section-cards {
                .set-card {
                    width: 49%;
                }
            }
        }
    }



}

// Login and sign up -- below 330px
@media (max-width: 330px) {}