@media (max-width: 725px) {
    .deck-page {

        .deck-menu {
            flex-wrap: wrap;
            row-gap: 1rem;
            column-gap: 1rem;

            .menu-btn {
                width: 45%;
            }
        }
    }

    .navigate-btns {
        display: none !important;
    }

    .site-btn {
        width: 50% !important;
    }

    .flip-card {
        height: 80% !important;
    }

    .learn-container {

        .button-group {
            justify-content: center !important;
        }

        .answer {
            flex-basis: 100% !important;

            width: 100% !important;
        }
    }
}


@media (max-width: 850px) {

    .home-page {
        section {
            .section-cards {
                .set-card {
                    width: 49%;
                }
            }
        }
    }



}

// Login and sign up -- below 330px
@media (max-width: 330px) {}