@mixin notion_input {
    padding: 4px 6px;
    border-radius: 3px;
    color: $dark-gray;
    font-size: $normal-font-size;
    background-color: rgba(242, 241, 238, 0.6);
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;

    &:focus {
        border: 1px solid rgb(46, 170, 220);
        box-shadow: 0px 0px 0px 2.5px rgba(46, 170, 220, 0.4);
    }
}

@mixin app_radius {
    border-radius: 0.5rem;
    box-shadow: $shadow;
}